{% load i18n %}

{% autoescape off %}
    {% blocktrans %}
        Vous recevez cet e-mail parce que vous avez demandé une réinitialisation de mot de passe pour votre compte sur
        {{ site_name }}.

        Veuillez accéder à la page suivante et choisir un nouveau mot de passe :

    {% endblocktrans %}

    {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

    {% blocktrans %}

        Merci d'utiliser notre site !

        L'équipe {{ site_name }}
    {% endblocktrans %}
{% endautoescape %}