{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}
{% block content %}
    <div class="container">
        <form id="upload-form">
            <input type="file" name="xml-file">
            <button type="submit">Upload</button>
        </form>

        <div id="message"></div>
        <div id="upload-status"></div>
    </div>
{% endblock %}
{% block extrabody %}

    {#    popper#}
    {#    bootstrap#}
    {#    <script src="{% static 'js/sweetalert.min.js' %}"></script>#}
    <script src="{% static 'jquery/jquery-3.5.1.min.js' %}"></script>
    {#    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>#}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>#}

    <script>
    // Function to get CSRF token from cookies
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

$(document).ready(function () {
    $('#upload-form').submit(function (event) {
         /*swal.fire({
            title: 'Uploading...',
            text: 'Please wait while the file is being uploaded.',
            icon: 'info',
            allowOutsideClick: false,
            showConfirmButton: false,
            didOpen: function () {
                swal.showLoading();
            }
        });*/

        event.preventDefault();
        var formData = new FormData($(this)[0]);
        var csrftoken = getCookie('csrftoken'); // get CSRF token
        $.ajax({
            url: '/create_objects_from_xml/',
            type: 'POST',
            data: formData,
            async: false,
            cache: false,
            contentType: false,
            processData: false,
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader('X-CSRFToken', csrftoken);
            },
            success: function (response) {
                swal.fire({
                    title: 'Upload successful!',
                    icon: 'success',
                    timer: 2000,
                    showConfirmButton: false
                }).then(() => {
                    //window.location.href = '/load_events1/';
                });
            },
            error: function (response) {
                swal.fire({
                    title: 'Upload failed!',
                    icon: 'error',
                    showConfirmButton: false
                });
            }
        });
    });
});

    </script>



{# <script>#}
{# // Function to get CSRF token from cookies#}
{#function getCookie(name) {#}
{#    var cookieValue = null;#}
{#    if (document.cookie && document.cookie !== '') {#}
{#        var cookies = document.cookie.split(';');#}
{#        for (var i = 0; i < cookies.length; i++) {#}
{#            var cookie = cookies[i].trim();#}
{#            if (cookie.substring(0, name.length + 1) === (name + '=')) {#}
{#                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));#}
{#                break;#}
{#            }#}
{#        }#}
{#    }#}
{#    return cookieValue;#}
{#}#}
{##}
{#$(document).ready(function () {#}
{#    $('#upload-form').submit(function (event) {#}
{#        event.preventDefault();#}
{#        var formData = new FormData($(this)[0]);#}
{#        var csrftoken = getCookie('csrftoken'); // get CSRF token#}
{##}
{#        swal.fire({#}
{#            title: 'Uploading...',#}
{#            text: 'Please wait while the file is being uploaded.',#}
{#            icon: 'info',#}
{#            allowOutsideClick: false,#}
{#            showConfirmButton: false,#}
{#            showLoaderOnConfirm: true,#}
{#            preConfirm: function () {#}
{#                return new Promise(function (resolve, reject) {#}
{#                    $.ajax({#}
{#                        url: '/create_objects_from_xml/',#}
{#                        type: 'POST',#}
{#                        data: formData,#}
{#                        async: false,#}
{#                        cache: false,#}
{#                        contentType: false,#}
{#                        processData: false,#}
{#                        beforeSend: function (xhr, settings) {#}
{#                            xhr.setRequestHeader('X-CSRFToken', csrftoken);#}
{#                        },#}
{#                        success: function (response) {#}
{#                            resolve(response);#}
{#                        },#}
{#                        error: function (response) {#}
{#                            reject('Error');#}
{#                        }#}
{#                    });#}
{#                });#}
{#            }#}
{#        }).then(function (response) {#}
{#            if (response.value && response.value.success) {#}
{#                swal.fire({#}
{#                    title: 'Upload successful!',#}
{#                    icon: 'success',#}
{#                    timer: 2000,#}
{#                    showConfirmButton: false#}
{#                }).then(() => {#}
{#                    window.location.href = '/load_events1/';#}
{#                });#}
{#            } else {#}
{#                swal.fire({#}
{#                    title: 'Upload failed!',#}
{#                    icon: 'error',#}
{#                    timer: 2000,#}
{#                    showConfirmButton: false#}
{#                }).then(() => {#}
{#                    alert('Error, please try again');#}
{#                });#}
{#            }#}
{#        });#}
{#    });#}
{#});#}
{##}
{# </script>#}



    {#    <script>#}
    {#        // function getCookie#}
    {#        function getCookie(name) {#}
    {#            var cookieValue = null;#}
    {#            if (document.cookie && document.cookie !== '') {#}
    {#                var cookies = document.cookie.split(';');#}
    {#                for (var i = 0; i < cookies.length; i++) {#}
    {#                    var cookie = cookies[i].trim();#}
    {#                    if (cookie.substring(0, name.length + 1) === (name + '=')) {#}
    {#                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));#}
    {#                        break;#}
    {#                    }#}
    {#                }#}
    {#            }#}
    {#            return cookieValue;#}
    {#        }#}
    {##}
    {#        $(document).ready(function () {#}
    {#            $('#upload-form').submit(function (event) {#}
    {#                event.preventDefault();#}
    {#                var formData = new FormData($(this)[0]);#}
    {#                var csrftoken = getCookie('csrftoken'); // get csrf token#}
    {#                $.ajax({#}
    {#                    url: '/create_objects_from_xml/',#}
    {#                    type: 'POST',#}
    {#                    data: formData,#}
    {#                    async: false,#}
    {#                    cache: false,#}
    {#                    contentType: false,#}
    {#                    processData: false,#}
    {#                    beforeSend: function (xhr, settings) {#}
    {#                        xhr.setRequestHeader('X-CSRFToken', csrftoken);#}
    {#                    },#}
    {#                    success: function (response) {#}
    {#                        Swal.fire({#}
    {#                            title: 'Upload successful!',#}
    {#                            icon: 'success',#}
    {#                            timer: 2000,#}
    {#                            showConfirmButton: false#}
    {#                        }).then(() => {#}
    {#                            window.location.href = '/load_events1/';#}
    {#                        });#}
    {#                    },#}
    {#                    error: function (response) {#}
    {#                        Swal.fire({#}
    {#                            title: 'Upload failed!',#}
    {#                            icon: 'error',#}
    {#                            timer: 2000,#}
    {#                            showConfirmButton: false#}
    {#                        }).then(() => {#}
    {#                            alert('error, please try again');#}
    {#                        });#}
    {#                    }#}
    {#                });#}
    {#            });#}
    {#        });#}
    {#    </script>#}
{% endblock %}


